body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.kalkulator {
    background-color:black;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.kalkulator input {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.kalkulator label {
    color: white;
    font-weight: bold;
}

.kalkulator button {
    background-color: #FFB22C;
    border-radius: 5px;
    width: 60px;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    color: white;
}

.output {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-top: 15px;
    color: white;
}